<!-- <input type="text" #input (keydown.enter)="enterChat(input.value)" />
<div>
  <div *ngFor="let message of messages">
    {{ message }}
  </div>
</div> -->

<img
  appDraggableSocket="025"
  width="100"
  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png"
/>
<img
  appDraggableSocket="026"
  width="100"
  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/030.png"
/>
<img
  appDraggableSocket="027"
  width="100"
  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/135.png"
/>
<img
  appDraggableSocket="235"
  width="100"
  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/235.png"
/>

<img
  appDraggableSocket="535"
  width="100"
  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/535.png"
/>
